.skills-info-card {
  height: auto;
  width: 100%;
  border-radius: 0.65rem;
  border: 1px solid #6751b9;
  background-color: rgba(22, 17, 47, 0.398);
  backdrop-filter: blur(1rem);
  padding: 1rem;
}

.skills-info-card h5 {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.8rem 2rem;
  border-bottom: 1.5px solid #6751b9;
}

.skills-info-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

@media (width: 820px) {
  .skills-info-card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .skills-info-content {
    grid-template-columns: auto auto;
    gap: 10px;
  }

  .skills-info img {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .skills-info-content {
    grid-template-columns: auto auto auto;
    gap: 10px;
  }
}

.skills-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skills-info a {
  margin-bottom: 10px; /* Adjust spacing between link and image */
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.skills-info a:hover {
  color: #ff2bdf;
}
/* 
@media (max-width: 1024px) {
  .skills-info-card {
    width: 60vh;
    margin: 5px auto;
  }
} */
